#videoProgetto h1 {
    padding-top: 7.5vh;
}

#descrizione,
#caratteristiche {
    padding: 5vw;
}

#descrizione h2 {
    color: #1c5e3c;
}

.caratteristiche{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.caratteristiche p {
    color:#1c5e3c;
    font-size:20px;
    padding:5vw;
}

.icons{
    width:100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    padding-bottom: 5vw;
}

.icons>svg{
    height: 80px;
    width: 80px;
    margin-top:10vw;
    margin-bottom:10vw;
    padding: 10px;
    border: 2px solid #1c5e3c;
    border-radius:50%;
    fill:#1c5e3c;
}

.downloads{
    display: flex;
    justify-content: center;
    align-items: center;
}

#spanBrochure , #spanMappa{
    padding: 2.5vw;
    font-size: 15px;
}

.infoButtons{
    background-color: #1c5e3c;
    width: fit-content;
    border-radius: 5px;
}

.infoButtons button {
    border: none;
    background-color: #1c5e3c;
    padding:7px;
}

.infoButtons button:hover{
    cursor: pointer;
}

.brochureButton{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding-right: 0;
}

.mapButton{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-left: 0;
}