#videoProgetto h1 {
    padding-top: 7.5vh;
}

#descrizione,
#caratteristiche {
    padding: 5vw;
}

#descrizione h2 {
    color: #1c5e3c;
}

.caratteristiche {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.caratteristiche>p {
    color: #1c5e3c;
    font-size: 20px;
    padding: 5vw;
}

.icons{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    padding-bottom: 15vw;
}

.iconCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.iconCard>p{
    height: 8vw;
    text-align: center;
}

.iconCard>svg {
    height: 80px;
    width: 80px;
    margin-top: 10vw;
    margin-bottom: 2vw;
    padding: 10px;
    border: 2px solid #1c5e3c;
    border-radius: 50%;
    fill: #1c5e3c;
}

.buttonCard{
    width: min-content;
    display: flex;
    flex-direction: column;
}

#spanBrochure,
#spanMappa {
    text-align: center;
    padding: 2.5vw;
    font-size: 15px;
}

.infoButtons {
    width: 100%;
    border-radius: 5px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.infoButtons button {
    border: none;
    background-color: #1c5e3c;
    padding: 10px;
    padding-inline: 40px;
}

.infoButtons button:hover {
    cursor: pointer;
}

.brochureButton,
.mapButton {
    border-radius: 5px;
    padding: 5px;
}